#database connection
DATABASE_IP=10.10.10.223
DATABASE_PORT=3306
DATABASE_USER=superclovek
DATABASE_PASSWORD=tajnyheslo123456
DATABASE_NAME=db
DATABASE_URL=mysql://superclovek:tajnyheslo123456@10.10.10.223:3306/db
#riotgames
RIOT_API_KEY=RGAPI-123
#discordjs
CLIENT_ID=651515615616511645156
CLIENT_TOKEN=4561651651516556156165
#webworker process count
THREADS=16
